---
layout: default
---
<div class="hentry" id="article-{{ page.id }}">
  <h2>
    <abbr class="published" title="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+00:00' }}">{{page.date | date: '%A, %B %d, %Y'}}</abbr>
  </h2>
  <div class="post blog">
  <h1 class="entry-title"><a href="{{page.url}}">{{ page.title }}</a></h1>
  <div class="entry-content">
    {{ content }}
  </div>
</div>

<div id="boastful">
  <h2>Discussion</h2>
  <div class="personal">
    <a href="https://twitter.com/ivey"><img src="http://www.gravatar.com/avatar/a667482dce34922ec51f6b044d253d47?s=50" /></a>
    <p>
      <a href="https://twitter.com/ivey">Follow me on Twitter</a>. I don't have comments enabled, because I remember
      when we didn't have blog comments, and we did just fine, thank you very much.
    </p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="ivey">Tweet</a>
    <a href="http://twitter.com/ivey" class="twitter-follow-button" data-show-count="false">Follow @ivey</a>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  </div>
</div>

<div id="related">
  <h2>Possibly Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>


