---
layout: default
---
<div class="hentry" id="article-{{ page.id }}">
  <h2>
    <abbr class="published" title="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+00:00' }}">{{page.date | date: '%A, %B %d, %Y'}}</abbr>
  </h2>
  <div class="post blog">
  <h1 class="entry-title"><a href="{{page.url}}">{{ page.title }}</a></h1>
  <div class="entry-content">
    {{ content }}
  </div>
</div>
 
<div id="related">
  <h2>Possibly Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/gweezlebur/embed.js"></script><noscript><a href="http://gweezlebur.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
